{% extends 'base.html' %}
{% block title %} Update post ... {% endblock title %}

{% block content %}	   
<div class="col offset-3" id="posts">
    <article class="post">
        <h1 class="post-title">
        <a href="#" class="post_title">Update post : {{ post_data.title }}</a>
        </h1>
        <br>
    <form method="POST" action=".">    
    {% csrf_token %}
    {{ form.as_p }}
    
    <button class='btn btn-secondary'>Update post</button> 
    </form>
    </article>
</div>
{% endblock content %}