{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock title %}

{% block posts %}	
{% include 'menu.html' %}    
<div class="col offset-3" id="posts">
    <article class="post">
        <h1 class="post-title">
        <a href="/post/{{ post.id }}" class="post_title">{{ post.title }}</a>
        </h1>
        <div class="post_header">
           <div class="post_header_item">
            <time datetime="{{ post.created_at }}" class="post_date">{{ post.created_at|date:"d-m-Y H:i" }}</time>
            </div> 
            <div class="post_header_item">
                Posted by: {{ post.user_id}}
            </div>  
        </div>
        <div class="content">
            {% if post.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}" class="post_image">
            {% endif %}
            {{ post.content|linebreaksbr }}
        </div>
        <div class="post_footer">
        <div class="post_footer_item">
            <a href="/" class="read_more">Go back</a> 
        </div>
        <div class="post_footer_item">
            <span class="badge">0</span><a class="fas fa-thumbs-up likeblock_icon"></a>
            <span class="badge">0</span><a class="fas fa-thumbs-down likeblock_icon"></a>
            <span class="badge">{% block views %}0{% endblock views %}</span><a class="fas fa-eye likeblock_icon"></a>
        </div> 
        </div>
    </article>
</div>
{% endblock posts %}  